<section class="container editar-pensamentos ff-inter">
    <header class="header">
        <h2>Edite seu <br>pensamento:</h2>
    </header>
    <form [formGroup]="formulario">
        <label for="pensamento">Pensamento</label>
        <textarea id="pensamento" class="input" formControlName="conteudo" placeholder="Digite o pensamento"></textarea>
        <div class="mensagem__erro" *ngIf="this.formulario.get('conteudo')?.errors">
            <p *ngIf="this.formulario.get('conteudo')?.errors?.['required']">Pensamento deve ser obrigatório</p>
            <p *ngIf="this.formulario.get('conteudo')?.errors?.['minlength']">Deve conter no mínimo 5 caracteres</p>
            <p *ngIf="this.formulario.get('conteudo')?.errors?.['pattern']">Não pode haver apenas espaços em branco</p>
        </div>

        <label for="autoria">Atutoria ou fonte</label>
        <input type="text" id="autoria" class="input" formControlName="autoria" placeholder="Digite a fonte ou autoria">
        <div class="mensagem__erro">
            <p *ngIf="this.formulario.get('autoria')?.errors?.['required']">Autoria ou fonte deve ser obrigatório</p>
            <p *ngIf="this.formulario.get('autoria')?.errors?.['minlength']">Deve conter no mínimo 3 caracteres</p>
        </div>

        <label for="modelo">Selecione o moledo do card:</label>
        <div class="container-radio">
            <div class="radio-modelo">
                <label for="modelo1">
                    <input type="radio" formControlName="modelo" id="modelo1" value="modelo1">
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Modelo 1</span>
                </label>
                Prévia
                <div class="modelo modelo1 ff-roboto-mono">
                    <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis">
                    <p class="conteudo">{{ this.formulario.get('conteudo')?.value }}</p>
                    <p class="autoria"><b>{{ this.formulario.get('autoria')?.value }}</b></p>
                </div>
            </div>

            <div class="radio-modelo">
                <label for="modelo2">
                    <input type="radio" formControlName="modelo" id="modelo2" value="modelo2">
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Modelo 2</span>
                </label>
                Prévia
                <div class="modelo modelo2 ff-roboto-mono">
                    <img src="../../../../assets/imagens/modelo2.png" alt="Aspas azul claro">
                    <p class="conteudo">{{ this.formulario.get('conteudo')?.value }}</p>
                    <p class="autoria"><b>{{ this.formulario.get('autoria')?.value }}</b></p>
                </div>
            </div>

            <div class="radio-modelo">
                <label for="modelo3">
                    <input type="radio" formControlName="modelo" id="modelo3" value="modelo3">
                    <div class="custom-radio">
                        <span></span>
                    </div>
                    <span>Modelo 3</span>
                </label>
                Prévia
                <div class="modelo modelo3 ff-roboto-mono">
                    <img src="../../../../assets/imagens/modelo3.png" alt="Aspas verdes">
                    <p class="conteudo">{{ this.formulario.get('conteudo')?.value }}</p>
                    <p class="autoria"><b>{{ this.formulario.get('autoria')?.value }}</b></p>
                </div>
            </div>
        </div>
        <div class="acoes">
            <button (click)="editarPensamento()" [disabled]="!this.formulario" [ngClass]="habilitarBotao()">Salvar</button>
            <button (click)="cancelarPensamento()" class="botao">Cancelar</button>
        </div>
    </form>
</section>